h2 {
	border: solid black 2px;
}

.character {
	position: relative;
	display: block;
	float: left;
}

/*.character-container {
	position: relative;
	display: block-inline;
	float: left;
}*/

.opponent-container {
	position: relative;
	display: block-inline;
	float: left;
}

div img {
	position: relative;
	float: left;
	display: block;
}

div {
	position: static;
	display: inline-block;
}