h2 {
	border: solid black 2px;
}

.character, .defender {
	position: relative;
	display: block;
	float: left;
	padding: 20px;
}


div {
	position: static;
	display: inline-block;
}

.character-container, .opponent, .defender-container {
	display: block;
}


