h2 {
	border: solid black 2px;
}

#c1, #c2, #c3, #c4  {
	position: relative;
	display: inline-block;
	
	padding: 20px;
}


div img {
	position: relative;
	display: block;
}

.character-container, .opponent-container, .defender-container, .your-character {
	position: relative;
	display: block;
}

body {
	background-image: url("../images/star-wars-wallpaper-21.jpg");
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center;
	color: white;
}


